.no_restaurant_view {
    flex: 1;
}

.no_restaurant_view .description {
    color: var(--color-text);
    line-height: 24px;
    font-family: Yellix-Medium, serif;
    font-size: 14px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}